@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2),
    format('woff2-variations');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2),
    format('woff2-variations');
    font-style: italic;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Outfit';
    src: url(./fonts/Outfit[wght].woff2),
    format('woff2-variations');
    font-style: normal;
    font-weight: 100 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: rgb(46, 137, 255);
    box-shadow: 8px 0 8px rgba(67, 67, 67, 67);
    padding: 16px;
    color: white;
    height: 100vh;
}

.heading {
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.add-book-title {
    font-size: 2rem;
}

.add-book-disclaimer {
    margin-bottom: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    color: black;
}

form input {
    appearance: none;
    padding: 8px;
    font-size: 1rem;
    border-radius: 16px;
    border: 2px solid rgb(200, 200, 200);
}

.new-book-read {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 1fr;
    margin-top: -32px;
}

input[type="checkbox"] {
    appearance: auto;
    height: 24px;
    width: 24px;
}

.new-book-colour {
    margin-top: -32px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.new-book-submit {
    appearance: none;
    border: none;
    border-radius: 24px;
    background-color: rgb(46, 137, 255);
    color: white;
    padding: 12px 0;
    font-size: 1.5rem;
}

.new-book-submit:hover {
    background-color: rgb(0, 110, 255);
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 16px;
    padding: 36px;
}

.card {
    min-height: 200px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-left: 32px solid rgb(82, 64, 8);
    padding: 12px 16px;
}

.book-read {
    display: flex;
    gap: 4px;
    align-items: center;
}

.book-read > input[type="checkbox"] {
    height: 16px;
    width: 16px;
}

legend, fieldset {
    appearance: none;
    border: none;
    margin-bottom: 8px;
}

.colour-grid {
    display: grid;
    grid-template-columns: repeat(4, 32px);
    gap: 12px;
    place-content: center;
}

.colour-grid > input {
    height: 32px;
    width: 32px;
    border-radius: 64px;
}

#blue {
    background-color: #0059ff;
}

#red {
    background-color: #e30000;
}

#orange {
    background-color: #ff9900;
}

#yellow {
    background-color: #ffff00;
}

#purple {
    background-color: #ae00ff;
}

#green {
    background-color: #00d75d;
}

#brown {
    background-color: #875801;
}

#pink {
    background-color: #ff00d9;
}

.colour-grid > input:checked {
    border-color: aqua;
    width: 36px;
    height: 36px;
    place-self: center;
}

.white-text {
    color: white;
}

.title {
    font-size: 2.5rem;
}

.author {
    font-size: 1.5rem;
}

.delete {
    border: none;
    padding: 8px 24px;
    border-radius: 16px;
    margin-top: 4px;
    background-color: rgb(167, 167, 167);
}

.delete:hover {
    background-color: red;
    color: white;
}